<div class="row max-width">
    <section class="user-area recruiter-bg-image col-xs-12">
        <div class="black-bg-color"></div>
        <h1 class="title-user-area title-recruiter-bg uppercase-letter"> Acesso Recrutadores e Empresas </h1>

        <div class="user-sub-area">
            <aside class="login-area">
                <form>
                    <fieldset>
                        <legend class="uppercase-letter">Já tenho cadastro</legend>

                        <div class="form-group">
                            <label for="email">E-mail cadastrado</label>
                            <input type="text" class="form-control" id="email">
                        </div>

                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input type="password" class="form-control" id="senha">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="sim" name="spam" checked>
                                Manter conectado
                            </label>
                        </div>

                        <a href="#">Esqueci minha senha</a>

                        <button type="button" class="btn form-control uppercase-letter"> Acessar </button>
                    </fieldset>

                </form>
            </aside>

            <aside class="register-area">
                <h2 class="title-register uppercase-letter">Não sou cadastrado(a)</h2>

                <p>Para cadastrar uma vaga ou buscar candidatos é
                    necessário ter uma conta no TransEmpregos.
                    Crie agora, é grátis!
                </p>

                <button type="button" class="btn form-control uppercase-letter"> Criar nova conta </button>
            </aside>
        </div>

    </section>
</div>

