@import "../../scss/variables";

.max-width {
    @media screen and (min-width: 940px) {
        max-width: 940px;
        margin: 0 auto;
    }

    .candidate-bg-image {
        background-image: url('/dist/public/images/photo_39601_20150724.png');
    }

    .recruiter-bg-image {
        background-image: url('/dist/public/images/bg_recruiter.png');
    }

    .user-area {
        position: relative;
        margin: 0 auto;
        padding: 0;
        min-height: 500px;
        background-size: cover;
        * > {
            z-index: 1;
            position: relative;
        }

        .candidate-bg-color {
            background-color: rgba(89, 63, 114, .7);
        }

        .title-user-area {
            margin: 50px auto;
            width: 80%;
            border-radius: 20px;
            color: #fff;
            font-size: 20pt;
            text-align: center;
            position: relative;
        }
        .title-candidate-bg {
            background-color: rgba(89, 63, 114, .9);
        }

        .title-recruiter-bg {
            background-color: rgba(0, 0, 0, .9);
        }
        .user-sub-area {
            display: flex;
            justify-content: center;
            position: relative;

            @media screen and (max-width: $break-tablet) {
                flex-direction: column;
            }

            .uppercase-letter {
                text-transform: uppercase;
            }

            .login-area {
                width: 40%;
                border-right: solid 1px rgba(0, 0, 0, .8);
                padding: 15px;

                form {
                    color: #fff;

                    legend {
                        font-size: 16pt;
                    }
                    .checkbox {
                        display: inline-block;
                    }

                    .form-group {
                        .form-control {
                            border-radius: 0;
                        }
                    }

                    label {
                        font-size: 10pt;
                    }

                    a {
                        color: #fff;
                        font-size: 10pt;
                        float: right;
                    }

                    button.form-control {
                        color: #fff;
                        font-size: 12pt;
                        background-color: $green1-trans;

                    }
                }

                @media screen and (max-width: $break-tablet) {
                    border-right: 0;
                    width: 100%;
                    a {
                        float: none;
                    }

                }
            }

            .register-area {
                width: 40%;
                padding: 15px;
                color: #fff;

                @media screen and (max-width: $break-tablet) {
                    width: 100%;
                }

                .title-register {
                    font-size: 16pt;
                }

                .title-register + p {
                    font-size: 10pt;
                }

                button.form-control {
                    color: #fff;
                    font-size: 12pt;
                    background-color: $red-trans;
                }
            }
        }
    }
}
