$gray: #6b6b6b;
$grayBold: #4b4b4b;
$txt-orange: #d09852;
$green: #00af85;

$purple-trans: #7770a4;
$green1-trans: #35b89c;
$green2-trans: #1ea487;
$yellow-trans: #f9b055;
$red-trans: #ec6a4b;
$gray1-trans: #6b6b6b;
$gray2-trans: #aaaaaa;

// media query
$break-xsmall: 320px;
$break-mobile: 424px;
$break-tablet: 767px;