<template ngbModalContainer></template>
<nav class="navbar navbar-fixed-top">
    <div class="row">

        <div class="col-xs-12 header-align">

            <a  routerLink="/">
                <img class="header-logo" src="/dist/public/images/logo.svg" alt="Logo {{title}}" />
            </a>
            <div class="nav navbar-nav header-text-uppercase menu-header">

                <input type="checkbox" id="btn-menu">
                <label for="btn-menu"><img src="/dist/public/images/hamburger.svg"></label>

                <div class="menu">
                    <ul>
                        <li>
                            <a routerLink="/sobre" class="nav-item nav-link" routerLinkActive="active">Sobre</a>
                        </li>

                        <li>
                            <a routerLink="/cadastrar-curriculo" class="nav-item nav-link" routerLinkActive="active">Crie seu perfil</a>
                        </li>

                        <li>
                            <div ngbDropdown class="dropdown">
                                <div class="dropdown-divider hidden-sm-up"></div>
                                <button ngbDropdownToggle>Acesse</button>
                                <div class="dropdown-menu">
                                    <a routerLink="/login/candidate" class="dropdown-item">Candidato(a)</a>
                                    <a routerLink="/login/recruiter" class="dropdown-item">Recrutador(a)</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>


            </div>
        </div>
    </div>
</nav>
<div class="container-fluid main-app">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    
    <div class="social-network-footer">
        <div class="container">
            <div class=" sub-area-network">
                <span>Acompanhe também as nossas vagas no Facebook</span>
                <span>
                    <a href="https://www.facebook.com/transempregos/?fref=ts">
                        Facebook
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="trans-footer-description">
        <div class="container">
            <div class="sub-area-footer-description">
                <div class="esq">
                    <img class="footer-logo" alt="Logo Transempregos" src="/dist/public/images/logo2.svg"/>
                    <ul>
                        <li><a href="#">Sobre</a><b>|</b></li> 
                        <li><a href="#">Cadastre-se</a><b>|</b></li> 
                        <li><a href="#">Acesse seu perfil</a></li>
                    </ul>
                </div>
                <div class="dir">
                    O TransEmpregos é um site que visa facilitar a colocação
                    de pessoas trans* (travestis e transexuais) no mercado de
                    trabalho, e possibilitar que empresários e recrutadores 
                    contatem essas pessoas, que muitas vezes não conseguem 
                    demonstrar todo o talento que possuem pois não são contratadas
                    por possuírem uma condição diferente da maioria.
                </div>
            </div>
        </div>
    </div>
    
    <div class="baixo">
        <div class="container">
            <div class="sub-area-baixo">
                <span>CopyRight © 2016 TransEmpregos.<br class="hidden-md-up"> Todos os direitos reservados.</span>
                <span>Termos de uso | Política de privacidade</span>
            </div>
        </div>
    </div>
</footer>