<template ngbModalContainer></template>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a class="navbar-brand" href="#">{{title}}</a>
                    <div class="nav navbar-nav">
                        <!--
                        <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
                        <a routerLink="/admin" class="nav-item nav-link" routerLinkActive="active">Admin</a>
                        -->
                        <!-- eu-->
                        <a routerLink="/sobre" class="nav-item nav-link" routerLinkActive="active" style="color: #6b6b6b;">Sobre</a>
                        <a routerLink="/cadastrar-curriculo" class="nav-item nav-link" routerLinkActive="active" style="color: #f58873">Cadastrar curriculo</a>

                        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Entrar</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <button class="dropdown-item">Candidato(a)</button>
                                <button class="dropdown-item">Recrutador(a)</button>
                            </div>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid main-app">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <img class="footer-logo" alt="Logo Transempregos" src="/dist/public/images/logo2.svg"/>
    <div>
        <span class="txt-orange">CopyRight © 2016 TransEmpregos</span>
        <br class="hidden-sm-up" ><b class="hidden-sm-down">|</b> <span> Todos os direitos reservados.</span>
    </div>
</footer>