html
  head
    title Angular 2 QuickStart
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheet.css')
    // 1. Load libraries
    // IE required polyfill
    script(src='node_modules/es6-shim/es6-shim.min.js')
    script(src='node_modules/angular2/es6/dev/src/testing/shims_for_IE.js')
    script(src='node_modules/angular2/bundles/angular2-polyfills.js')
    script(src='node_modules/rxjs/bundles/Rx.umd.js')
    script(src='node_modules/angular2/bundles/angular2-all.umd.js')
    // 2. Load our 'modules'
    script(src='app.component.js')
    script(src='main.js')
  // 3. Display the application
  body
    my-app Loading...
