<div class="container page-min-height">
    <div *ngIf="job">
        <form #jobForm="ngForm">
            <fieldset>
                <legend>Os campos em vermelho são obrigatórios</legend>
                <div class="form-group">
                     <div class="form-group" >
                        <label for="company">Empresa:</label>
                        <select required [(ngModel)]="job.companyId" #company="ngModel" name="company" id="company" class="form-control">
                            <option value="{{company._id}}" *ngFor="let company of companies" >{{company.companyName}}</option>
                        </select>
                        <div *ngIf="company.errors && company.dirty" class="alert alert-danger">
                            <div [hidden]="!company.errors.required">
                                A empresa é obrigatória.
                            </div>
                        </div>
                    </div>

                   <div class="form-group">
                        <label for="name">Nome da vaga:</label>
                        <input required [(ngModel)]="job.name" #name="ngModel" 
                            placeholder="Coloque o nome da vaga" class="form-control" type="text" id="name" 
                            name="name"
                        />
                        <div *ngIf="name.errors && name.dirty" 
                            class="alert alert-danger">
                            <div [hidden]="!name.errors.required">
                                O nome da vaga é obrigatória
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Descrição da vaga:</label>
                        <textarea required [(ngModel)]="job.description" rows="5" 
                            #description="ngModel" placeholder="Coloque a descriçao da vaga" 
                            class="form-control" type="text" id="description" name="description">
                        </textarea>
                        <div *ngIf="description.errors && description.dirty" 
                            class="alert alert-danger">
                            <div [hidden]="!description.errors.required">
                                A descrição da vaga é obrigatória
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="howToSubscribe">Como se inscrever:</label>
                        <textarea required [(ngModel)]="job.howToSubscribe" rows="5" #howToSubscribe="ngModel" 
                            placeholder="Coloque como se inscrever" class="form-control" type="text" id="howToSubscribe" 
                            name="howToSubscribe">
                        </textarea>
                        <div *ngIf="howToSubscribe.errors && howToSubscribe.dirty" 
                            class="alert alert-danger">
                            <div [hidden]="!howToSubscribe.errors.required">
                                É obrigatóriao explicar como se increver.
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="salaryRange">Range do salário:</label>
                        <select required [(ngModel)]="job.salaryRange" #salaryRange="ngModel" name="salaryRange" id="salaryRange" 
                            class="form-control">
                            <option value="0-2000">0-2000</option>
                            <option value="2000-4000">2000-4000</option>
                            <option value="4000-6000">4000-6000</option>
                            <option value="6000-8000">6000-8000</option>
                            <option value="+8000">+8000</option>
                        </select>
                        <div *ngIf="salaryRange.errors && salaryRange.dirty" class="alert alert-danger">
                            <div [hidden]="!salaryRange.errors.required">
                                Range do salário é obrigatório.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="opportunityType">Tipo da vaga:</label>
                        <select required [(ngModel)]="job.opportunityType" #opportunityType="ngModel" name="opportunityType" 
                            id="opportunityType" class="form-control">
                            <option value="freelance">Freelance</option>
                            <option value="meio">Meio Período</option>
                            <option value="integral">Período Integral</option>
                            <option value="estagio">Estágio</option>
                        </select>
                        <div *ngIf="opportunityType.errors && opportunityType.dirty" 
                            class="alert alert-danger">
                            <div [hidden]="!opportunityType.errors.required">
                                O tipo da vaga é obrigatório.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="contractType">O tipo de contrato:</label>
                        <select required [(ngModel)]="job.contractType" #contractType="ngModel" name="contractType" 
                            id="contractType" class="form-control">
                            <option value="CLT">CLT</option>
                            <option value="JP">JP</option>
                            <option value="Cooperado">Cooperado</option>
                            <option value="Freelance">Freelance</option>
                        </select>
                        <div *ngIf="contractType.errors && contractType.dirty" class="alert alert-danger">
                            <div [hidden]="!contractType.errors.required">
                                Tipo de contrataçao é obrigatória.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="state">O estado da vaga:</label>
                        <select required [(ngModel)]="job.state" #state="ngModel" name="state" id="state" class="form-control">
                            <option value="sp">Sao Paulo</option>
                            <option value="rj">Rio de Janeiro</option>
                            <option value="rs">Porto Alegre</option>
                            <option value="mg">Minas Gerais</option>
                        </select>
                        <div *ngIf="state.errors && state.dirty" class="alert alert-danger">
                            <div [hidden]="!state.errors.required">
                                O estado é obrigatório.
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="city">A cidade da vaga:</label>
                        <select required [(ngModel)]="job.city" #city="ngModel" name="city" id="city" class="form-control">
                            <option value="SP">Sao Paulo</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RS">Porto Alegre</option>
                            <option value="MG">Belo Horizonte</option>
                        </select>
                        <div *ngIf="city.errors && city.dirty" class="alert alert-danger">
                            <div [hidden]="!city.errors.required">
                                A cidade é obrigatória.
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button (click)="goBack()" class="btn btn-secondary">Cancelar</button>
                    <button (click)="save(jobForm)" class="btn btn-primary" [disabled]="!jobForm.form.valid">Salvar</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>