@import "../../variables";

.login-and-register-area {
    height: 500px;
    background-image: url('/dist/public/images/foto_bg_recrutador.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14pt;
    color: #ececec;
    text-align: center;

    @media screen and (max-width: $break-small) {
      font-size: 12pt;
    }

    > * {
        z-index: 1;
        position: relative;
    }

    .bg-black-alpha {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.70);
        z-index: 0;
    }

    a {
        color: #b2b2b2;
        display: inline-block
    }

    a:active,
    a:hover {
        color: #ececec;
        text-decoration: none;
        border-bottom: 2px solid #ececec;
        margin-bottom: -2px;
    }

    .home-text-for-recruter {
        font-size: 22pt;
        max-width: 700px;
        margin-bottom: 40px;

        @media screen and (max-width: $break-small) {
            font-size: 16pt;
            line-height: 1.4;
        }

    }

    .btn-home-login {
        width: 80%;
        background: $green;
        color: #fff;
        border-radius: 0;
    }

    .max-width-700 {
        max-width: 700px;
    }

    .margin-bottom-5 {
        margin-bottom: 5%;
    }

    .margin-bottom-1 {
        margin-bottom: 1%;
    }

    .home-page-menu {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
    }

    .home-page-menu-bottons {
        width: 31%;  
        height: 60px;
        color: #fff;
    }
}

.descrition-area {
    min-height: 500px;
    padding: 10px;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-descrition {
    max-width: 750px;
}

.titulo-aside-description {
    font-size: 30pt;
    color: #78569b;
}


@media(max-width: 768px){
    .img-descrition {
        display: none;
    }
}


.hr {
    max-width: 140px;
    border-color: #f9b055;
    border-width: 5px;
    margin-left: 0;
    margin-bottom: 50px;
}

.p-content-descrition {
    margin-bottom: 50px;
}

.depoimentos-area {
    padding: 0;
    height: 700px;
    background-image: url('/dist/public/images/photo_46199_20151005.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14pt;
    color: #ececec;
    text-align: center;
}

.titulo-depoimentos {
    font-size: 30pt;
    text-align: left;
}

.parceiros-area {
    height: 500px;
    
}