<div class="home-page row">
    <section class="login-and-register-area relative col-xs-12">
        <div class="bg-black-alpha"></div>

        <div class="margin-bottom-5">
            <a href="#">Sou Candidato(a) </a> <b>|</b>
            <a href="#">Sou Recrutador(a)</a>
        </div>

        <span class="home-text-for-recruter">Encontre uma diversidade de talentos com o perfil ideal para sua empresa.</span>
        <button type="button" class="margin-bottom-1 btn btn-block btn-home-login max-width-700"> ENTRAR / LOGIN </button>
        <span>Primeiro acesso? <b><a href="#">Cadastre-se grátis</a></b> </span>

    </section>
</div>